body{
    background-color: rgb(231, 235, 248);
}

img{
    width: 50px;
    height: 50px;
}

main{
    padding: 0 !important;
    background-image: url(images/plan-workstaf.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

#cotainer{
    height: 85vh ;
}

#row-top{
    height: 34%;
}

#row-bottom{
    height: 66%;
}

.card{
    cursor: pointer;
}

.card:hover{
    background-color: rgb(237, 234, 234);
}

@media(max-width:576px){

    #cotainer{
        display: grid ;
        gap: 4rem;
    }

    aside{
        width: 90% !important;
        margin: 0 auto;
    }

      main{
        order: 2;
         width: 900px;     
        height: 460px;
        background-image: url(images/vertical\ img.jpg);
        background-size: contain;
        background-position: center center;
    }
    
}